<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h1 id="home-title">Welcome To URL Scanner</h1>


    <!-- <a href="/form" id="start">Start Here</a> -->

    <p id="description">Got a link from someone that you're not sure about? Do you wish there was a way to see what is
        inside of it without actually putting yourself and your computer at risk? You have come to the right place.</p>

    <h2>Submit URL</h2>


    <form action="/form" method="POST">
        
        <input type="text" name="url" id="url" placeholder="URL">
        <button>Submit</button>
    </form>



</body>

</html>